:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.grid {
  width: 1028px;
  height: 598px;
  flex: 0 0 auto;
  min-width: 50px;
  min-height: 50px;
}
.igx-column {
  width: 500px;
  height: 200px;
  min-width: 50px;
  min-height: 50px;
}
