<igx-grid [data]="northwindCategories" [rowEditable]="true" cellSelection="multiple" rowSelection="multiple" columnSelection="multiple" [allowFiltering]="true" filterMode="excelStyleFilter" [allowAdvancedFiltering]="true" [autoGenerate]="false" height="793px" displayDensity="cosy" primaryKey="categoryID" class="grid">
  <igx-column field="categoryID" header="categoryID" title="categoryID" dataType="number" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true" class="igx-column"></igx-column>
  <igx-column field="description" header="description" title="description" dataType="string" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true" class="igx-column"></igx-column>
  <igx-column field="name" header="name" title="name" dataType="string" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true" class="igx-column"></igx-column>
  <igx-action-strip>
    <igx-grid-pinning-actions></igx-grid-pinning-actions>
    <igx-grid-editing-actions></igx-grid-editing-actions>
  </igx-action-strip>
  <igx-paginator [perPage]="10"></igx-paginator>
  <igx-grid-toolbar>
    <igx-grid-toolbar-title>Grid Toolbar</igx-grid-toolbar-title>
    <igx-grid-toolbar-actions>
      <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
      <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
      <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
    </igx-grid-toolbar-actions>
  </igx-grid-toolbar>
</igx-grid>
